name: Run Snowflake SQL Script

on:
  push:
    branches:
      - main

jobs:
  run-sql:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up and Install Snowflake CLI
      uses: snowflakedb/snowflake-cli-action@v2.0

    - name: Run SQL file with snowcli
      run: snow sql -f ./sqls/salary_table.sql
      env:
        # Use SNOWFLAKE_ prefixed environment variables (ALL CAPS)
        SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
        SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
        SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
        SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}