name: Run Snowflake SQL Script

on:
  push:
    branches:
      - main

jobs:
  run-sql:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up and Install Snowflake CLI
      uses: snowflakedb/snowflake-cli-action@v2.0
      with:
        # Pass your secrets here. The action will create config.toml
        account: ${{ secrets.SNOWFLAKE_ACCOUNT }}
        username: ${{ secrets.SNOWFLAKE_USER }}
        password: ${{ secrets.SNOWFLAKE_PASSWORD }}
        role: ${{ secrets.SNOWFLAKE_ROLE }}
        
    - name: Run SQL file with snowcli
      run: snow sql -f ./sqls/salary_table.sql
      