name: Run Terraform for Snowflake

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      TF_API_TOKEN:          ${{ secrets.TF_API_TOKEN }}
      TF_VAR_snowflake_username:   ${{ secrets.SNOWFLAKE_USER }}
      TF_VAR_sowflake_password:    ${{ secrets.SNOWFLAKE_PASSWORD }}
      TF_VAR_sowflake_account:     ${{ secrets.SNOWFLAKE_ACCOUNT }}
      TF_VAR_sowflake_role:        ${{ secrets.SNOWFLAKE_ROLE }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve 
