name: Run Terraform for Snowflake

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      TF_API_TOKEN:          ${{ secrets.TF_API_TOKEN }}

      SNOWFLAKE_USERNAME:    ${{ secrets.SNOWFLAKE_USERNAME }}
      SNOWFLAKE_PASSWORD:    ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ACCOUNT:     ${{ secrets.SNOWFLAKE_ACCOUNT }}

      SNOWFLAKE_ROLE:        ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE:   ${{ secrets.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_DATABASE:    ${{ secrets.SNOWFLAKE_DATABASE }}
      SNOWFLAKE_SCHEMA:      ${{ secrets.SNOWFLAKE_SCHEMA }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve \
          -var "snowflake_username=$SNOWFLAKE_USERNAME" \
          -var "snowflake_password=$SNOWFLAKE_PASSWORD" \
          -var "snowflake_account=$SNOWFLAKE_ACCOUNT" \
          -var "snowflake_role=$SNOWFLAKE_ROLE" \
          -var "snowflake_warehouse=$SNOWFLAKE_WAREHOUSE" \
          -var "snowflake_database=$SNOWFLAKE_DATABASE" \
          -var "snowflake_schema=$SNOWFLAKE_SCHEMA"
