name: Run Terraform for Snowflake

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      TF_VAR_snowflake_user:       ${{ secrets.SNOWFLAKE_USER }}
      TF_VAR_snowflake_password:    ${{ secrets.SNOWFLAKE_PASSWORD }}
      TF_VAR_snowflake_account:     ${{ secrets.SNOWFLAKE_ACCOUNT }}
      TF_VAR_snowflake_role:        ${{ secrets.SNOWFLAKE_ROLE }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init 

      - name: Terraform Apply
        run: terraform apply -auto-approve 
