name: Run SQL

on:
  workflow_dispatch:

jobs:
  run-sql:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Snow CLI
        uses: snowflakedb/snowflake-cli-action@v1

      - name: Copy config.toml
        shell: bash
        run: |
          mkdir -p ~/.snowflake
          cp .snowflake/config.toml ~/.snowflake/config.toml

      - name: Run SQL files
        shell: bash
        run: |
          cat ~/.snowflake/config.toml
          for sqlfile in ./sqls/*.sql; do
            echo "Executing $sqlfile..."
            snow sql -f "$sqlfile"
          done
