name: Run Snowflake SQL Script

on:
  push:
    branches:
      - main

jobs:
  run-sql:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up and Install Snowflake CLI
      uses: snowflakedb/snowflake-cli-action@v2.0

    - name: Run SQL file with snowsql
      run: snow sql -f ./sqls/salary_table.sql
      env:
        SNOWSQL_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
        SNOWSQL_USER: ${{ secrets.SNOWFLAKE_USER }}
        # Pass the password securely via environment variable
        SNOWSQL_PWD: ${{ secrets.SNOWFLAKE_PASSWORD }}
        # Optional: set default role, warehouse, db, schema
        SNOWSQL_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
        # SNOWSQL_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
        # SNOWSQL_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
        # SNOWSQL_SCHEMA: ${{ secrets.SNOWFLAKE_SCHEMA }}
