name: Run Terraform for Snowflake

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      TF_VAR_SNOWFLAKE_USER:       ${{ secrets.SNOWFLAKE_USER }}
      TF_VAR_SNOWFLAKE_PASSWORD:    ${{ secrets.SNOWFLAKE_PASSWORD }}
      TF_VAR_SNOWFLAKE_ACCOUNT:     ${{ secrets.SNOWFLAKE_ACCOUNT }}
      TF_VAR_SNOWFLAKE_ROLE:        ${{ secrets.SNOWFLAKE_ROLE }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Clean Terraform cache
        run: |
          rm -rf .terraform
          rm -f .terraform.lock.hcl

      - name: Terraform Init
        run: terraform init 

      - name: Terraform Apply
        run: terraform apply -auto-approve 
