name: Run Snowflake SQL Script

on:
  push:
    branches:
      - main

jobs:
  run-sql:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up and Install Snowflake CLI
      uses: snowflakedb/snowflake-cli-action@v2.0

    - name: Run SQL file with snowcli
      run: snow sql run -f ./sqls/salary_table.sql
      env:
        SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
        SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
        # Pass the password securely via environment variable
        SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
        # Optional: set default role, warehouse, db, schema
        SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
        # SNOWSQL_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
        # SNOWSQL_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
        # SNOWSQL_SCHEMA: ${{ secrets.SNOWFLAKE_SCHEMA }}
